<div class="row">

    <div class="col-sm-6 col-lg-3 d-flex product"  *ngFor="let product of products">
        <div class="card bg-gradient-primary product-content">
            <div class="card-body card-body pb-0 justify-content-between align-items-start product-image">
                <img src="{{product.imageUrl}}" style="object-fit: cover;" height="300" width="600">
                <!-- <img src="../../assets/065c31c680d938dd607e42f8f1f8b58c81-15-star-wars-best-moments-2.rsquare.w700.jpg"> -->
            </div>
            <div class="c-chart-wrapper mt-3 mx-3" style="height:100px; margin-top: 2rem !important;">
                <div class="title-div">Title: <a routerLink="/shop/details/{{product._id}}" class="product-title">{{product.productName | shortenText}}</a>
                </div>
                <div class="by">Price: <span>{{product.price}}$</span></div>
            </div>
        </div>
    </div>
      
</div>