    .main-content {
        margin-top: 15%;
        margin-bottom: 3%;
    }

    .main-text {
        color: #ffbf00;
    }

    .product {
    background-color: #181818;
    }

    .product-title {
    color: #ffbf00;
    text-transform: uppercase;
    font-size: 25px;
    z-index: 9000;
    left: 0;
    padding-left: 15px;
    }

    .card-body {
    border-bottom: gray solid 1px;
    }

    .product-img {
        display:inline-block;
        vertical-align:top; 
        width: 50%;
    }

    .product-text {
        width: 45%; 
        float: right;
        color: white;
    }

    .price {
        color: #ffbf00;
        font-weight: 500;
    }

    .description {
        color: #ffbf00;
        font-weight: 500;
    }

    .quantity {
        color: #ffbf00;
        font-weight: 500;
    }

    .buy-button {
        background-color:#ffbf00;
        border-radius:6px;
        border:1px solid #ffbf00;
        display:inline-block;
        cursor:pointer;
        color:#333333;
        font-family:Verdana;
        font-size:15px;
        font-weight:bold;
        margin: 30px auto;
        padding:9px 15px;
        text-decoration:none;
        text-shadow:0px 1px 0px #8c8235;
        top:50%; 
        left:40%;   
        position: relative;
    }

    .buy-button:hover {
        background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
        background-color:#ffab23;
        color:#333333;
        text-decoration: none;
    }

    .bought {
        color: greenyellow;
        font-size:16px;
        margin: 30px auto;
        padding:9px 15px;
        top:50%; 
        left:30%; 
        position: relative;
    }

    .msg {
        color: greenyellow;
        font-size:16px;
        margin: 30px auto;
        padding:9px 15px;
        top:50%; 
        left:30%; 
        position: relative;
      }

    @media only screen and (max-width: 990px) {
        .product-text {
            float: left;
            width: 100%;
            display: block;
            margin: 20px;
        }

        .product-img {
            height: 300px;
            width: 300px;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        img {
            width: 300px;
            height: 300px;
        }
    }

    @media only screen and (min-width: 990px) {

        img {
            width: 400px;
            height: 400px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }

    @media only screen and (min-width: 1200px) {

        img {
            height: 550px;
            width: 550px;
            margin-left: auto;
            margin-right: auto;
            display: block;
        }
    }
