<div class="main-content">
    <div class="product card">
        <div class="card-body">
            <h4 class="product-title">{{product.productName}}</h4>
        </div>
        
        <div class="card-footer">
            <div class="product-img">
                <img src="{{product.imageUrl}}" height="550">
            </div>
            <div class="product-text">
                <span class="price">Price:</span>
                <div>{{product.price}}$</div>
                <span class="description">Description:</span>
                <div>{{product.description}}</div>
                <button class="buy-button" (click)="buyHandler(product._id)">Buy</button>
            </div>
        </div>
    </div>
</div>