.main-content {
    margin-top: 15%;
    margin-bottom: 3%;
}

.main-text {
    color: #ffbf00;
}

.shop {
    background-color: #181818;
}

.shop-title {
    color: #ffbf00;
    text-transform: uppercase;
    font-size: 25px;
    z-index: 9000;
    left: 0;
    padding-left: 15px;
}

.card-body {
    border-bottom: gray solid 1px;
}

.row {
    margin: auto;
}

.create-button {
    background-color:#ffbf00;
    border-radius:6px;
    border:1px solid #ffbf00;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    padding:9px 15px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8c8235;
}

.create-button:hover {
    background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
    background-color:#ffab23;
    color:#333333;
    text-decoration: none;
}

.create-button:active {
    position:relative;
    top:1px;
}

.product {
    margin-bottom: 20px;
  }

  .product-content {
    background: #666666 !important; 
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  } 

  .product-image{
    display: block !important;   
    padding: 0px !important;
    border-bottom: 1px solid #ffbf00 !important;   
   } 
   
   .product-title {
    color: #ffbf00;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }

  .by {
    left: 0;
    padding-left: 15px;
    font-weight: 500;
  }

  .title-div {
    left: 0;
    padding-left: 15px;
    font-weight: 500;
  }

  .empty-cart {
    color: #ffbf00;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }

  .btn {
    position:absolute;
    top: 0;
    right:0;
    color: #756f6e;
    font-size: 25px;
  }

  .btn:hover {
      color: red;
  }

  .msg {
    color: greenyellow;
    font-size:16px;
    margin: 30px auto;
    padding:9px 15px;
    top:50%; 
    left:30%; 
    position: relative;
  }

  @media only screen and (max-width: 575.5px) {

    .btn {
        font-size: 30px;
    }
}
   