<div class="forgot card">
    <div class="card-body">
        <h4 class="forgot-title">Forgot password</h4>
        <div class="form-error" *ngIf="error">{{error}}</div>
        <span class="msg" *ngIf="message">{{message}}</span>
    </div>
    <div class="card-footer">
        <form #f="ngForm" class="forgot-form" (ngSubmit)="submitFormHandler(f.value, change)">
            <div class="input-group mb-3">
                <input #userEmail="ngModel" name="email" type="email" class="form-control forgot-input" aria-describedby="inputGroup-sizing-default" placeholder="Email Address" required ngModel appEmailValidator>
            </div>
    
            <p class="error" *ngIf="userEmail.touched && userEmail.errors?.required">
                Email is required
            </p>
            <p class="error" *ngIf="userEmail.touched && userEmail.errors?.emailValidator">
                Email is not valid
            </p>

            <div class="input-group mb-3">
                <input #userPassword="ngModel" name="password" type="password" class="form-control forgot-input" aria-describedby="inputGroup-sizing-default" placeholder="New Password" required minlength="6" ngModel>
            </div>
    
            <p class="error" *ngIf="userPassword.touched && userPassword.errors?.required">
                Password is required
            </p>
            <p class="error" *ngIf="userPassword.touched && userPassword.errors?.minlength">
                Password must be at least 6 character long
            </p>
    
            <div class="mb-3 div-btn" >
                <button [disabled]="f.invalid" type="submit" #change class="forgot-btn">Change</button>
            </div>
        </form>
    </div>
</div>