<div class="create-content">
    <label class="create-title">New Product</label>
    <form class="create-form">
        <div class="input-group mb-3">
            <input type="text" class="form-control create-input" aria-describedby="inputGroup-sizing-default" placeholder="Product Name">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control create-input" aria-describedby="inputGroup-sizing-default" placeholder="Image Url">
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control create-input" placeholder="Product Description"></textarea>
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control create-input" aria-describedby="inputGroup-sizing-default" placeholder="Price">
        </div>
        <div class="mb-3">
            <button class="create-btn">Add Product</button>
        </div>
    </form>
</div>