<div class="login-content">
    <label class="login-title">Login</label>
    <form class="login-form">
        <div class="input-group mb-3">
            <input type="email" class="form-control login-input" aria-describedby="inputGroup-sizing-default" placeholder="Email Address">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control login-input" aria-describedby="inputGroup-sizing-default" placeholder="Password">
        </div>
        <div class="mb-3">
            <button class="login-btn">Login</button>
        </div>
    </form>
    <p class="form-info">Don't have account?
        <a href="/users/register" class="login-link">Register now</a> and fix that!
    </p>
</div>