  .main-content {
    margin-top: 15%;
    margin-bottom: 3%;
  }

  .main {
      font-size: 80px;
      color: white;
      text-transform: uppercase;
  }

  .main-text {
      color: #ffbf00;
  }

  .join-button {
    margin-top: 10px;
    background-color:#ffbf00;
    border-radius:6px;
    border:1px solid #ffbf00;
    display:inline-block;
    cursor:pointer;
    color:#333333;
    font-family:Verdana;
    font-size:15px;
    font-weight:bold;
    padding:9px 24px;
    text-decoration:none;
    text-shadow:0px 1px 0px #8c8235;
    }

  .join-button:hover {
      background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
      background-color:#ffab23;
      color:#333333;
      text-decoration: none;
  }

  .join-button:active {
      position:relative;
      top:1px;
  }

  .news {
    background-color: #181818;
  }

  .new {
    margin-bottom: 20px;
  }

  .new-content {
    background: #666666 !important; 
  }

  .news-title {
    color: #ffbf00;
    text-transform: uppercase;
    font-size: 25px;
    z-index: 9000;
    left: 0;
    padding-left: 15px;
  }

  .card-body {
    border-bottom: gray solid 1px;
  }

  img {
    max-width: 100%;
    max-height: 100%;
    display: block;
  } 

  .new-image{
    display: block !important;   
    padding: 0px !important;
    border-bottom: 1px solid #ffbf00 !important;   
  }  

  .new-title {
    color: #ffbf00;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
    text-transform: uppercase;
    
  }

  .new-title:hover {
    text-decoration: none;
    color: white;
  }

  .row {
    margin: auto;
  }

  .by {
    left: 0;
    padding-left: 15px;
    font-weight: 500;
  }

  .title-div {
    left: 0;
    padding-left: 15px;
    font-weight: 500;
  }

  .empty {
    color: #ffbf00;
    font-weight: 500;
    font-size: 18px;
    text-align: center;
  }

