.main-content {
   margin-top: 15%;
   margin-bottom: 3%;
}

.main {
    font-size: 80px;
    color: white;
    text-transform: uppercase;
}

.main-text {
    color: #ffbf00;
}

.join-button {
  margin-top: 10px;
  background-color:#ffbf00;
  border-radius:6px;
  border:1px solid #ffbf00;
  display:inline-block;
  cursor:pointer;
  color:#333333;
  font-family:Verdana;
  font-size:15px;
  font-weight:bold;
  padding:9px 24px;
  text-decoration:none;
  text-shadow:0px 1px 0px #8c8235;
  }

  .join-button:hover {
      background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
      background-color:#ffab23;
      color:#333333;
      text-decoration: none;
  }

  .join-button:active {
      position:relative;
      top:1px;
  }
