<div class="register-content">
    <label class="register-title">Register</label>
    <form #f="ngForm" class="register-form" (ngSubmit)="submitFormHandler(f.value)">
        <div class="input-group mb-3">
            <input #userName="ngModel" name="username" type="text" class="form-control register-input" aria-describedby="inputGroup-sizing-default" placeholder="Username" ngModel>
        </div>
        <div class="input-group mb-3">
            <input #userEmail="ngModel" name="email" type="email" class="form-control register-input" aria-describedby="inputGroup-sizing-default" placeholder="Email Address" ngModel>
        </div>
        <div class="input-group mb-3">
            <input #userPasswor="ngModel" name="password" type="password" class="form-control register-input" aria-describedby="inputGroup-sizing-default" placeholder="Password" ngModel>
        </div>
        <div class="input-group mb-3">
            <input #userRePassword="ngModel" name="rePassword" type="password" class="form-control register-input" aria-describedby="inputGroup-sizing-default" placeholder="Repeate Password" ngModel>
        </div>
        <div class="mb-3">
            <button type="submit" class="register-btn">Register</button>
        </div>
    </form>
    <p class="form-info">Already have an account?
        <a routerLink="/users/login" class="register-link">Login now</a>!
    </p>
</div>