<div class="register-content">
    <label class="register-title">Register</label>
    <form class="register-form">
        <div class="input-group mb-3">
            <input type="email" class="form-control register-input" aria-describedby="inputGroup-sizing-default" placeholder="Username">
        </div>
        <div class="input-group mb-3">
            <input type="email" class="form-control register-input" aria-describedby="inputGroup-sizing-default" placeholder="Email Address">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control register-input" aria-describedby="inputGroup-sizing-default" placeholder="Password">
        </div>
        <div class="input-group mb-3">
            <input type="password" class="form-control register-input" aria-describedby="inputGroup-sizing-default" placeholder="Repeate Password">
        </div>
        <div class="mb-3">
            <button class="register-btn">Register</button>
        </div>
    </form>
    <p class="form-info">Already have an account?
        <a routerLink="/users/login" class="register-link">Login now</a>!
    </p>
</div>