<div class="profile card">
    <div class="card-body">
        <h4 class="profile-title">Profile Info</h4>
    </div>
    <div class="card-footer">
        <div class="profile-group">
            <span><i class="fas fa-user-astronaut icon"></i></span>
            <span class="profile-info">Username</span>
            <span class="profile-value">{{user.username}}</span>
        </div>
        <div class="profile-group">
            <i class="fa fa-envelope-o icon"></i>
            <span class="profile-info">Email</span>
            <span class="profile-value">{{user.email}}</span>
        </div>
    </div>
</div>