<div class="main-content">
    <div class="shop card">
        <div class="card-body">
            <h4 class="shop-title">Shop</h4>
            <div class="text-right mgt-10 justify-content-between">  
                <div>
                    <a routerLink="/shop/add" class="create-button">Add Product</a>
                </div>
              </div>
        </div>
        
        <div class="card-footer">
            <div class="container-fluid">
                <app-shop-item [products]="products"></app-shop-item>
            </div>
        </div>
    </div>
</div>