<div class="create-content">
    <label class="create-title">New Post</label>
    <form class="create-form">
        <div class="input-group mb-3">
            <input type="text" class="form-control create-input" aria-describedby="inputGroup-sizing-default" placeholder="Title">
        </div>
        <div class="input-group mb-3">
            <input type="text" class="form-control create-input" aria-describedby="inputGroup-sizing-default" placeholder="Image Url">
        </div>
        <div class="input-group mb-3">
            <textarea class="form-control create-input" placeholder="Post"></textarea>
        </div>
        <div class="mb-3">
            <button class="create-btn">Create</button>
        </div>
    </form>
</div>