<div class="main-content">
    <div class="news card">
        <div class="card-body">
            <h4 class="news-title">I am your father</h4>
        </div>
        
        <div class="card-footer">
            <div class="new-img">
                <img src="../../../assets/065c31c680d938dd607e42f8f1f8b58c81-15-star-wars-best-moments-2.rsquare.w700.jpg" height="550">
            </div>
            <div class="new-text">
                <div>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Accusamus dolorem sequi odio, pariatur vitae aliquam dicta eaque quos ratione fugiat iure, explicabo et maiores non architecto quibusdam cupiditate quasi amet?</div>
            </div>
        </div>
    </div>
</div>