<div class="main-content">
    <div class="news card">
        <div class="card-body">
            <h4 class="news-title">{{post.title}}</h4>
            <span class="msg" *ngIf="message">{{message}}</span>
        </div>
        
        <div class="card-footer">
            <div class="new-img">
                <img src="{{post.imageUrl}}" height="550">
            </div>
            <div class="new-text">
                <div>{{post.post}}</div>
                <button class="delete-button" (click)="deleteHandler(post._id)" *ngIf="post.creatorId._id === profile._id">Delete</button>
            </div>
        </div>
    </div>
</div>